@import "./nord.css";
 :root {
    --primary-background: var(--nord3);
    --secondary-background: var(--nord0);
    --primary-text: var(--nord5);
    --secondary-text: var(--nord8);
    --accent: var(--nord11)
}

@font-face {
    font-family: permanent-marker;
    src: url(fonts/PermanentMarker-Regular.ttf);
  }

@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto-Regular-tff);
}


/** COMMON **/

body {
    background-color: var(--primary-background);
    color: var(--primary-text);
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    color: var(--secondary-text);
    text-decoration: none;
}

h2 {
    margin-bottom: 0;
}


/** HEADER **/

.header {
    text-align: center;
    color: var(--secondary-text);
    font-family: permanent-marker;
    margin: 0;
}

.header h1 {
    font-size: 3em;
    margin: 0;
}

.header p {
    font-size: 1.5em;
    margin: 0;
}

.navigation a {
    font-family: permanent-marker;
    color: var(--secondary-text);
}

/** CONTENT **/

.content {
    max-width: 800px;
    padding: 20px;
    margin: 0 auto;
}

.divider {
    color: var(--accent);
    font-family: Roboto;
    font-weight: 800;
}

.date {
    color: var(--accent);
}