<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
         <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <title>{{ pageTitle }}</title>
        <link rel="stylesheet" href="/css/base.css">
        <link rel="stylesheet" href="/css/prism-nord.css">
        <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    </head>
    <body>
        <header class="header">
            <h1><a href=/>{{ pageTitle }}</a></h1>
            <div class=navigation>
                <a href="/">Home</a>
                <span class="divider"> | </span>
                <a href="/about">About</a>
                <span class="divider"> | </span>
                <a href="/notes">Notes</a>
            </div> 
        </header>
        <div class="content">
                {{ content }}
        </div>
        
    </body>
</html>