--- 
layout: base.liquid
pageTitle: Random Notes
--- 
{% for note in collections.note reversed %}
    <h2><a href="{{ note.url }}">{{ note.data.noteTitle }}</a></h2>
    <em class="date">{{ note.date | date: "%Y-%m-%d" }}</em> 
{% endfor %}